__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/
*.log
logs/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
ml/models/*.joblib
ml/models/*.pkl
ml/models/*.json
spark/checkpoints/
.idea/
.vscode/
.DS_Store
postgres_data/
hadoop_data/
